/*spacing and grid*/
div {
    font-family: 'PT Sans', sans-serif;
    border-style: hidden;
    border-width: 5px;
    padding: 30px;
}

/*Background picture*/

body {
    background-image: url("../pics/Optic Background.jpg")
}

/*all images*/
img {
    border: 4px solid blue;
}

/*headers for bootstrap HTML5 and CSS on technology page*/
.Header3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 27px;
    margin-left: 480px; 
}

/*all navagation/links*/
a {
    color: darkblue;
}

/*Makes all text bigger*/
.col-xs-9 {
    font-size: 23px;
}

/*Jumbotron at top of page*/
.jumbotron {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    background-color: #d5d5d5;
}
/*top border on moving text at the bottom of the screen*/
.movingtext {
    font-family: 'PT Sans', sans-serif;
    border-top: solid #285e8e;
    border-width: 3px;
    font-size: 20px;
}


